<div class="container">
    <h1>Hola este es mi primer proyecto</h1>

    <ul>
        <li *ngFor="let task of tasks">
            {{task}}
        </li>
    </ul>
    <!-- NUEVA SINTAXIS FOR-->
    <ul>
        @for(task of tasks_signal(); track task; let i = $index){
        <li>{{task}}</li>
        } @empty{
        <li>No hay tareas</li>
        }
    </ul>

    <hr />

    <h2>{{ 'Hola' }}</h2> <!-- Ejecutar String directamente -->
    <h2>{{ 'Hola'.repeat(2) }}</h2> <!-- Ejecutar función -->
    <h2>la suma de 3+3 es {{ 3+3 }}</h2> <!-- Ejecutar operaciones matemáticas -->
    <p>Hola soy {{ name }} y mi edad es {{ age }}</p>

    <!--Objetos a los que se les pueden modificar sus propiedades
y formas para hacerlo-->
    <input type="text" [value]="name">

    <input type="text" value={{name}}>

    <button [disabled]="disable">Click me</button>

    <img [src]="img" alt="">

    <!-- Forma de acceder a los atributos de un objeto -->
    <p>person: {{ person.name }}</p>

    <hr />

    <!--Event Biding: Permite controlar los eventos que suceden con determinados elementos-->
    <button (click)="clickHandler()">Click me</button>
    <br>
    <button (dblclick)="clickHandler()">Click me twice</button>
    <br><br>
    <p>(change)</p>
    <!-- Evento que se dispara cuando se cambia el valor de un input -->
    <input type="text" [value]="name" (change)="changeHandler($event)">

    <!-- Evento que se dispara cuando se presiona una tecla -->
    <input type="text" [value]="name" (keydown)="keyDownHandler($event)">

    <!-- Disparar un evento con una combinacion de teclas-->
    <input type="text" [value]="name" (keydown.shift.t)="clickHandler()">

    <hr>

    <h1>Signals</h1>
    <input type="text" [value]="Lastname()" (change)="changeHandler($event)">
    <p>My Lastname is: {{ Lastname() }}</p>

    <hr>
    <h1>Estructuras de control</h1>
    <ul>
        <p>total: {{tasks_signal().length}}</p>
        <li *ngFor="let task of tasks_signal(); index as i">
            {{i}} {{task}}
        </li>
    </ul>
    <!--Estructuras de control-->
    <!--ngIf permite que se renderice o no un componente-->
    <div *ngIf="Lastname() === 'Chavarria'">
        MyContent
    </div>

    <div *ngIf="persona_signal().name === 'Mario' && persona_signal().age > 18 else elseBlock">
        Soy Mario y soy mayor de edad
    </div>
    <ng-template #elseBlock>
        Soy Mario y soy menor de 18
    </ng-template>
    <!--NUEVA SINTAXIS DE ANGULAR-->
    @if (persona_signal().name === 'Mario' && persona_signal().age > 18){
    <div>
        Soy Mario y soy mayor de edad
    </div>
    } @else {
    <div>Soy Mario y soy menor de edad</div>
    }
    <input type="number" [value]="persona_signal().age" (change)="changeAge($event)">

    <hr>
    <input type="text" [value]="persona_signal().name" (change)="changeName($event)">
    <div [ngSwitch]="persona_signal().name">
        <p *ngSwitchCase="'Mario'">Soy Mario</p>
        <p *ngSwitchCase="'Juan'">Soy Juan</p>
        <p *ngSwitchDefault>No soy nadie</p>
    </div>
    <!--NUEVA SINTAXIS DE ANGULAR-->
    <div>
        @switch(persona_signal().name){
        @case('Mario'){
        <p>Soy Mario</p>
        }
        @case('Juan'){
        <p>Soy Juan</p>
        }
        @default{
        <p>No soy nadie</p>
        }

        }
    </div>

    <hr>

    <!-- Forma mas profesional de manejar los INPUT-->
    <input type="color" [formControl]="colorCtrl">
    <p>color: {{ colorCtrl.value }}</p>
    <!-- forma de agregar codigo svg al html-->
    <svg>
        <g>
            <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value" />
        </g>
    </svg>

    <hr>
    <!-- Forma de cambiar css de manera reactiva-->
    <input type="number" [formControl]="widthCtrl">
    <span class="box" [style.width.px]="widthCtrl.value"></span>

    <hr>

    <p>
        <input type="text" [formControl]="nameCtrl"> <br>
        <span class="message-error" [class.show]="nameCtrl.invalid && nameCtrl.touched">Nombre invalido</span>
    </p>
</div>